html{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    padding:0;
    background-color: lightblue;
    color:lightcoral;
    overflow: hidden;
}
#intro{
    width:100%;
    height:10%;
}
#topBar{
    width: 100%;
    height:10%;
    background-color: lightseagreen;
}
#content{
    width:100%;
    height:80%;
}
#visualizer{
    background-color: lightcoral;
    width:80%;
    height:80%;
    margin:auto;
    margin-top: 2.5%;
}
.counter{
    border: 3px solid white;
    border-radius:5px;
    font-size: 20px;
    width: 10%;
    float: right;
    text-align:center;
    font-weight: bolder;
    background-color: lightcoral;
    color:white;
    margin:10px;
}
/* .arrayElementVisual{
    background-color:steelblue;
    float:right;
    width:5%;
    height:5%;
} */